@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: $accent-color;
    min-height: 400px;
}

.section-wrapper{
    width: 100%;
    padding-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    @include max-content-size();
}


.white{
    top:-70px;
    @media screen and (max-width:800px) {
        left: -3px;
        top: -7px; 
    }
}

.logo{
    width: 125px;

    &:hover{
        cursor: pointer;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.footer-content-wrapper{
    width: 100%;
    height: calc(100% - 200px - 2rem);
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:800px) {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1.25rem;
    }
}


nav{
    height: 100%;
    display: flex;
    align-items: center;

    ul{
        display: flex;
        list-style: none;
        
        li{
            color:$font-negativ-color;
            font-weight: 300;
            margin: 0px 1rem;

            &:hover{
                cursor: pointer;
                color:$link-color;
            }
        }
    }

}