@use "./../../../styles/index.scss" as *;

:host{
    width: 100%;
    flex: 1; 
}

.form-wrapper{
    width: 100%;
    margin-top: 0.75rem;
    flex: 1;
}

form{
    width: 100%; 
    display: flex;
    flex-direction: column;
    background-color: $paper-color;
    border: 1px solid $grey-200;
    border-radius: 8px;
    padding: 1.25rem 2rem;
    box-shadow: 0px 2px 4px $grey-200;

    @media screen and (max-width:700px) {
        padding: 1.25rem 1rem;    
    }
}



h4{
    margin: 1.25rem 1rem 0.5rem 0rem;
    font-size: $h5-font-size;
    color: $font-color;
    line-height: 130%;
    font-weight: 400;
    max-height: max-content;

}

.red{
    color: $red;
}

.headline{
    text-align: center;
    display: flex;
    align-items: center;
    icon{
        margin-right: 0.25ch;
        color: $font-color;
        padding-top: 4px;
        font-size: clamp(28px, 4vw, 36px);;
    }
}


input, textarea{
    height: 3rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid $accent-color;
    padding: 0.25rem 0.5rem;
    @include normal-text();

    &:hover{
        border-color: $green;
    }

    &:invalid {
        border-color: $red;
    }

    &:active, &:focus {
        border-color: $link-color;
    }
}

textarea{
height: 9.25rem;
}

label{
    margin-top: 1.5rem;
    font-size: $font-size;
    color: $font-color;
    display: flex;
    margin-bottom: 0.5rem;

    span{
        color: $red;
        display: flex;
    }
}

button{
    padding: 0.75rem 1.25rem;
    max-width: max-content;
}

.accept-box{
    margin: 1.75rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}


.checbox-wrapper{
    display: flex;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    

    .checkbox{
        border-radius: 4px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        border: 1px solid $accent-color;
        pointer-events: none;

        &.error{
          border-color: $red;  
        }
    }

    .checkmark{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 82%;
        height: 82%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        transform: translate(-50%,-50%);

        svg{
            fill: transparent;
        }

        &.active{
            svg{
                fill: $accent-color;
            }
        }
    }

    input{
        width: 100%;
        height: 100%;
        opacity: 0;

        &:hover{ 
            cursor: pointer;
        }

        &:hover ~ .checkbox{ 
            border-color: $green;
        }

        &:hover ~.checkmark.active svg{
            fill: $green;
        }

        &:hover ~ .checkbox.error{ 
            border-color: $red-hover;
        }

        &:hover ~.checkmark.error svg{
            fill: $red-hover;
        }
    }
}

a{
    color:$link-color;
    &:hover{
         color:$button-hover-color;  
    }
}

.info-text{
    max-width: 25ch;
    color: $grey-300;
    span{
        color:$red;
    }
    margin-bottom: 2.75rem;
}

.hide{
    display: none;
}