@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: $accent-color;
}

.section-wrapper{
    padding-top: 2rem;
    position: relative;
    @include max-content-size();
}

a.button{
    width: max-content;
    &:hover {
        color:$font-negativ-color; 
    }
}

h3{
   color:$font-negativ-color; 
}

.grid-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    color:$font-negativ-color; 

    @media screen and (max-width:355px){
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    }
}

p{
    color:$font-negativ-color; 
}

h4{
    margin-bottom: 2rem;
    font-weight: 600;
    color:$font-negativ-color; 
}

.block{
    margin: 1rem 0px;

    span{
        padding: 0 0.5ch;
        color:$red;
    }

    .info{
        margin-top: 1rem;
    }
}

.bold{
    color:$font-negativ-color; 
    font-weight: 800;
}


.margin-top{
    margin-top: 3rem;
}

a{
    @include normal-text();
    color: $font-negativ-color; 
    &:hover{
        color: $link-color; 
    }  
}

