@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-wrapper{
    position: relative;
    padding-bottom: 200px;
    @include max-content-size();
}

h4, h3{
    margin: 0px;
}

h4{
    margin-bottom: 1rem;
}


.image-container{
    position: absolute;
    z-index: 99;
    top: -36%;
    right: 0px;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    @media screen and (max-width:1100px) {
        top: auto;
        bottom: 0px;
        width: clamp(175px, 24vw, 270px);
    }

    @media screen and (max-width:470px) {
        top: auto;
        bottom: 0px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: clamp(175px, 24vw, 270px);
    }
}

.team-picture-container{
    width: clamp(300px,24vw,400px);
    aspect-ratio:  1 / 1;
    border-radius: 48px;
    overflow: hidden;
    background-color: aquamarine;
    border: 1px solid $grey-100;
    box-shadow: 0px 3px 6px $grey-300;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media screen and (max-width:1360px) {
        display:none
    }

}

.flex{
    justify-content: center;
    padding: clamp(96px, 12vw, 150px) 0px;

    @media screen and (max-width:1360px) {
        flex-direction: column;
        padding-top: 64px;
    }

    @media screen and (max-width:450px) {
        padding-top: 0px;
    }
}

.gap{
    gap: clamp(1rem, 12vw, 3rem);
}

button{
        padding: 0.75rem 0.8rem;
}

.hide-overflow-box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 173px;
    width: 100%;
    overflow: hidden;
}

.blue{
    bottom: -50px;
    @media screen and (max-width:800px) {
        bottom: -7px;  
    }
    @media screen and (max-width:780px) {
        left: -5px;  
    }
}