@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-wrapper{
    padding-bottom: calc(6rem + 214px) ;
    padding-top: 2rem;
    position: relative;
    @include max-content-size();


    @media screen and (max-width:860px) {
            padding-bottom: calc(2rem + 400px);;
    }

    @media screen and (max-width:450px) {
            padding-bottom: calc(2rem + 350px);;
    }
}

.image-container{
    position: absolute;
    right:  0px;
    bottom: 180px;
    display: flex;
    align-items: center;
    height: 70%;
    width: 33%;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }


    @media screen and (max-width:1500px) {
        position: absolute;
        height: 402px;
        width: 570px;
        bottom: -5%;
        z-index: 300;
        right: 0%;

    }

    @media screen and (max-width:860px) {
        transform: scaleX(-1) translate(50%, 0%);
        left: 50%;
        bottom: 0%;
        right: auto;
        width: 100%;
    }
}

.blue{
    bottom: -64px;
     @media screen and (max-width:800px) {
        bottom: -7px;  

        img{
            width: auto;
        }
    }
}

.hide-overflow-box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 222px;
    width: 100%;
    overflow: hidden;
}