@font-face {
  font-family: 'RedditSans';              
  src: url('../../public/assets/fonts/RedditSans-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;                
  font-style: normal;         
}

@font-face {
    font-display: swap;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/assets/fonts/material-symbols-outlined-v213-latin-regular.woff2') format('woff2');
}