$accent-color: #212F5C;
$font-color: #212F5C;
$font-negativ-color: #ffffff;
$paper-color: #ffffff;
$yellow: #dd7617;
$red: #EB5154;
$red-hover: #ff5959;
$green: #4BC676;
$button-color: #4BC676;
$button-hover-color: #5ad568;
$link-color: #3A6EDC;
$background-color:#17182a;
$max-body-with: 1920px;

$grey-100: #F5F5F5;
$grey-300: #A8A8A8;
$grey-200: #EEEEEE;

$transparent-color: #070F2B;
$transparent-value: 0.82;

$font-one: 'RedditSans';

$font-size: clamp(16px, 4vw, 21px);
$icon-size: clamp(24px, 4vw, 28px);
$h1-font-size: clamp(36px, 11vw, 112px);
$h2-font-size: clamp(24px, 4vw, 36px);
$h3-font-size: clamp(32px, 4vw, 56px);
$h4-font-size: clamp(24px, 4vw, 36px);
$h5-font-size: clamp(21px, 4vw, 28px);

