@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: $accent-color;
    padding-bottom: clamp(175px,24vw,325px);
    padding-top: clamp(175px,24vw,325px);
}

h3{
    max-width: 20ch;
    color: $font-negativ-color;
}

p{
    color: $font-negativ-color;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 155%;
}

a{
    width: max-content;
    padding: 0.75rem 1.25rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;


    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }


    &::before{
        z-index: 2;
        content: "";
        opacity: 0.82;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $transparent-color;
    }
}

.section-wrapper{
    padding-top: 2rem;
    position: relative;
    z-index: 4;
    @include max-content-size();
}

.bottom{
    z-index: 4;
    bottom: -120px;
    @media screen and (max-width:800px) {
        bottom: -8px;  
    }
}

.top{
    z-index: 4;
    top: -75px;
    @media screen and (max-width:800px) {
        top: -8px;  
    }
}

button{
    padding: 0.75rem 0.8rem;
}