@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.section-wrapper{
    padding-top: 2rem;
    position: relative;
    @include max-content-size();
}

.article-wrapper{
    padding-top: clamp(0rem, 12vw, 6rem);
    display: flex;
    gap: 2rem;

    @media screen and (max-width:1300px) {
        padding-top: 0rem;
        flex-direction: column-reverse;
    }
}

small{
    display: block;
    padding:1rem 0rem;
    font-size: 1rem;
    color: $grey-300;
}

ul{
    margin-left: 1.25rem;
    li{
        font-weight: 400;
        margin: 1rem 0px;
    }
}

article{
    width: 50%;
    padding-bottom: 6rem;
    @media screen and (max-width:1300px) {
        width: 100%;
    }
}

p{
    @media screen and (max-width:1300px) {
    width: 100%;
    max-width: 100%;
    }  
}

.picture-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 8rem;
    @media screen and (max-width:1300px) {
        width: 100%;
        padding-top: 0rem;
    }
}

.pitcure{
    width: 80%;
    height: clamp(150px, 36vw, 400px);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 2px 4px $grey-300;
    position: sticky;
    top: 0px;

    img{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    @media screen and (max-width:1300px) {
        width: 100%;
    }
}

