@use "./../../../styles/index.scss" as *;

.main-wrapper{
    background-color: white;
    background-image: url("../../../../public/assets/pattern.png");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-wrapper{
    width: 100%;
    max-width: 1920px;
    background-color: $paper-color;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgb(9, 7, 30);
    position: relative;
}