@use "../../styles/index.scss" as *;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 312px;

    @media screen and (max-width: 800px) {
          padding-top: 180px;  
    }
}

.section-wrapper{
    padding-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include max-content-size();
}

h3, h4{
    margin: 0px;
}

p{
    margin-top: clamp(0.5rem,3vw,2rem);
    max-width: 45ch;
    text-align: center;
}

.blue{
    top: -2px;
    left: 0px;
    
    @media screen and (max-width:780px) {
        left: -5px;  
    }
}

.grid-cards-wrapper{
    width: 70%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width:1640px) {
        width: 92%;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;

    h4{
        width: 100%;
        text-align: center;
    }
}

.picture{
    width: 270px;
    height: 270px;
    overflow: hidden;
    border: 1px solid $grey-100;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 4px $grey-200;

    img{
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
}


.description{
    width: 270px;
}