.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 100;

    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }   
}

.image.start{
    z-index: 101;
    opacity: 1; 
}

.image.active{
    z-index: 101;
    opacity: 1;
}

.image.fade-in{
    z-index: 102;
    opacity:0;
    animation: fade-in var(--animtion-durability) ease-in-out forwards;
}

@keyframes fade-in {
    to{
        opacity:1;  
    }
}