@use "../../styles/index.scss" as *;


:host{
    padding: 1rem 0px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    backdrop-filter:blur(5px);
}

.right-side{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: clamp(2rem, 5vw, 12rem)
}

.phone a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $font-negativ-color;
    transition: scale  0.25s ease-in-out;

    &:hover{
        scale: 1.025;
        color: $link-color;   
    }

    icon{
        font-size: $icon-size;
        margin-right: 0.5rem;
    }

    @media screen and (max-width:675px) {
        span{
            display: none;
        }

        icon{
            font-size: 2.5rem;
        }
    }
}

.logo{
    height: 66px;
    width: 120px;
    max-height: 70px;
    flex-shrink: 0;

    &:hover{
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media screen and (max-width:570px){
        img{
             width: 92px;  
        }
 
    }
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include max-content-size();
}

.navigation{
    display: flex;
}

.background{
    position: absolute;
    z-index: -1;
    opacity: 80%;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: $transparent-color;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}